.container {
    padding: 5px;
    display: flex;
    height: 100%;
    flex: 1 0 100%;
    flex-direction: row;
    background: white;
}
.roles {
    display: flex;
    flex: 0 1 40%;
    list-style: none;
    border: 1px solid grey;
    flex-direction: column;
    padding:5px 10px;
    justify-content: flex-start;
}

.roles li{
	cursor:pointer;
}

.container li{
	display:flex;
	align-items: center;
	padding:5px;
	color:;
	flex:0 1 30px;
	border:1px solid lightgrey;
}

.permissions {
    display: flex;
    flex: 1 1 auto;
    list-style: none;
    border: 1px solid grey;
    flex-direction: column;
    padding:5px 10px;
    justify-content: flex-start;
}

.permissions input[type="checkbox"]{
	display:flex;
	align-items: center;
	padding:5px;
	color:;
	flex:0 1 30px;
	border:1px solid red;
}

.addRole{
    background: -webkit-linear-gradient(top, #4b834b, #386938);
    background: linear-gradient(to bottom, #4b834b, #386938);
    color: white;
    border: 1px solid rgba(200, 200, 200, 0.5);
    padding: 5px 15px;
    margin: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    width:100px;
}

.editBtn{
	    background: transparent;
    border: 0;
    cursor: pointer;
}
.deleteBtn{
	    background: transparent;
    border: 0;
    cursor: pointer;
}

.permRow div{
	flex:1;
}

.container .activeRow{
    border:1px solid grey;
}