@font-face {
    font-family: 'RobotoCondensedRegular';
    src: url('./RobotoCondensedRegular.eot');
    src: url('./RobotoCondensedRegular.eot') format('embedded-opentype'),
         url('./RobotoCondensedRegular.woff2') format('woff2'),
         url('./RobotoCondensedRegular.woff') format('woff'),
         url('./RobotoCondensedRegular.ttf') format('truetype'),
         url('./RobotoCondensedRegular.svg#RobotoCondensedRegular') format('svg');
}
@font-face {
    font-family: 'RobotoCondensedLight';
    src: url('./RobotoCondensedLight.eot');
    src: url('./RobotoCondensedLight.eot') format('embedded-opentype'),
         url('./RobotoCondensedLight.woff2') format('woff2'),
         url('./RobotoCondensedLight.woff') format('woff'),
         url('./RobotoCondensedLight.ttf') format('truetype'),
         url('./RobotoCondensedLight.svg#RobotoCondensedLight') format('svg');
}

