.content{
	display: flex;
	width:720px;
	flex-direction: column;
	margin:0 auto;
	padding:40px 0 ;
}

.content p{
	margin:10px;
}

.content button{
	width:150px;
	align-self: center;
	margin-top:30px;
}
