html * {
    box-sizing: border-box;
    padding:0;
    font-family: 'Open Sans', sans-serif;
    margin:0;
    font-size:12px;
}
a,a:visited,button{
	color:inherit;
}

html{
	/*background-color: rgba(0,0,0,0.1);*/
	font-family: arial,helvetica,neue,sans-serif;
	padding-top:0;
	font-size:14px;
}

button:focus{
	outline: 0;
}

button{
	border:2px solid rebeccapurple;
	border-radius: 40px;
	color:inherit;
	padding:10px  20px;
	background-color: transparent;
	cursor:pointer;
}

button:hover{
	background-color: rebeccapurple;
}

hr{
	width:50px;
	border:1px solid rebeccapurple;
	margin:10px 0 30px;
}

.header {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 100px;
    background-color: transparent;
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1100px;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    font-family: arial,helvetica,neue,sans-serif;
    transition:color 0.3s ease-in-out 0s,background-color 0.3s ease-in-out 0s;
}

.headerContent{
	 min-width: 1100px;
	 margin:0 20px;
	 display:flex;
	 flex:1;
	 flex-direction: row;
	 justify-content: space-between;
	 align-items: center;
}

.scrolledHeader{
	color:#222;
	background-color:#fff;
	transition: all 0.3s ease-out 0.1s; 
	border-bottom:1px solid lightgrey;
}

.scrolledHeader .logo{
	background-image:url("../img/be_hive_dark.png");
	transition: background-image 0.3s ease-out 0.1s;
}

.logoContainer {
    /*margin: 0 150px 0 auto;*/
    display: flex;
    flex: 0 1 225px;
}

.logo {
	width:148px;
    height:40px;
    background-size:contain;
    background-repeat: no-repeat;
    background-image: url('../img/be_hive.png');
    cursor:pointer;
}

.pageNav{
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex:1;
}

.pageNav li{
 padding:10px;
}

.pageNav li a{
	text-decoration: none;
	color:inherit;
	font-size:1.25rem;
}
.pageNav li a:hover{
	transition: color 0.3s ease-in-out 0.1s;
	color:purple;
	cursor:pointer;
}

.phone {
    display: flex;
    flex: 0 1 250px;
    justify-content: flex-end;
    align-items: center;
    font-size:18px;

}
.phone button{
	cursor:pointer;
	margin:0 0 0 20px;
	border-radius: 40px;
	width:180px;
	height: 48px;
	background-color:transparent;border: 2px solid purple;
	font-size:18px;
	padding:10px;


}
.phone button:hover {
    transition: background-color 0.3s ease-out 0.2s,color 0.3s ease-out 0.2s;
	background-color: purple;
	color:white;
}

.content{
	display: flex;
	flex-direction: column;
	min-width: 976px;
	margin:0 auto;
	flex:1 0 100%;
}