.tabs {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

.tabsNav {
    display: flex;
    flex-direction: row;
    margin-bottom: -1px;
    z-index: 9999;
}

.navItem {
    border: 1px solid white;
    cursor: pointer;
    color: white;
    padding: 5px 10px;
}

.navItem.active {
    cursor: default;
    border-bottom: 1px solid rgb(53, 106, 53);
}

.tabPages {
    display: flex;
    border: 1px solid white;
    flex-direction: column;
}

.tabPage {
    display: flex;
    flex: 0 1 200px;
}
